<div class="container">
    <h1 class="mt-5">Index Page</h1>
    <a href="/auth/login" class="btn btn-primary">LOGIN</a>
    <br>
    <a href="/auth/register" class="btn btn-success">REGISTER</a>
</div>